<ul>
  <% @files.each do |file_name| %>
    <li class="file-list">
      <a class="file-list-name" href=<%= "/view/" + file_name %>><%= File.basename(file_name, ".*") %></a>
      <a class="edit-btn" href=<%= "/edit/" + file_name %>>Edit</a>
    </li>
  <% end %>
</ul>

<a href="/new">Create Document</a>