body {
	padding: 1em;
	font-family: sans-serif;
}

.flash-msg {
	width: 90%;
	height: 50px;
	padding: 10px;
	background: #ffff99;
}

.file-list {
	display: flex;
	gap: 1rem;
	width: 400px;
	height: 10%;
}

textarea {
	width: 50%;
	height: 500px;
}
